<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="ISA" value="Add_interChange"/>
    <add key="GS" value="Add_FunctionalHeader"/>
    <add key="ST" value="Add_Header_999"/>
    <add key="AK1" value="Add_Header_999"/>
    <add key="IK5" value="Add_TransactionSetResponse_999"/>
    <add key="IK4" value="Add_ImplementationDataElement_999"/>
    <add key="CTX" value="Add_Context_999"/>
    <add key="AK9" value="Add_Header_999"/>
    <add key="AK2" value="Add_TransactionSetResponse_999"/>
    <add key="IK3" value="Add_ImplementationDataSegment_999"/>
    <add key="TA1" value="Add_TA1"/>
    <add key="SE" value="Add_SE"/>
    <add key="GE" value="Add_GE"/>
    <add key="IEA" value="Add_IEA"/>

  </appSettings>
</configuration>